Data Types in Python

In [16]:
type(12)
type(-8) #integer
type(12.89) #float
type("Hello") #string
type(True) #Boolean

bool

In [1]:
#casting or typecasting 
float(2)
int(2.1) #cast a float to an integer
int("1")
str(1)
str(3.4)
int(True)
int(False) # if we cast a Boolean to an integer or float, we get a 0. 
bool(0) #if we cast a 0 to a Boolean, we get a False

False

In [2]:
#tuples: ordered seqeunces; use paranthesis to make them 
tuple1 = ("disc", 1, 2.34)
type(tuple1)

tuple

In [5]:
tuple2 = tuple1 +("hard work", 3)
tuple2

('disc', 1, 2.34, 'hard work', 3)

In [6]:
#slicing tuples 
tuple1[2]

2.34

In [7]:
#length of the tuple
len(tuple2)

5

In [8]:
#tuples are immutable; you cannot change them 
tuple1[2] = 5 
#you get an error: tuple object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [13]:
#still we might be able to change tuples 
tuple3 = (8,7,4)
tuple3sorted = sorted(tuple3)
print(tuple3sorted)
#but tuple3sorted would be a list

[4, 7, 8]

In [23]:
#nesting or tuples in tuples
tuple4 = (3,("hello", "world"), (4.7, 7))
print(tuple4)
print(tuple4[2])
#slicing in nested tuples 
print(tuple4[2][0])
print(tuple4[1][1][4])

(3, ('hello', 'world'), (4.7, 7))
(4.7, 7)
4.7
d

In [24]:
#lists: again like tuples they are ordered seqeunces but use square barackets to make them 
#but lists are mutable
list1 = ["Soheil", 23, 8.9]